<script src="https://beaudar.lipk.org/client.js" 
        repo="{{ .Site.Params.comments.beaudar.repo }}"
        issue-term="{{ .Site.Params.comments.beaudar.issueTerm }}"
        label="comment"
        theme="{{ .Site.Params.comments.beaudar.theme }}"
        crossorigin="anonymous"
        async
        >
</script>

<style>
    .beaudar {
        max-width: unset;
    }
</style>

<!-- <script>
    let utterancesLoaded = false;

    function setUtterancesTheme(theme) {
        let utterances = document.querySelector('.utterances iframe');
        if (utterances) {
            utterances.contentWindow.postMessage(
                {
                    type: 'set-theme',
                    theme: `github-${theme}`
                },
                'https://utteranc.es'
            );
        }
    }

    addEventListener('message', event => {
        if (event.origin !== 'https://utteranc.es') return;

        /// Called when Utterances is ready
        utterancesLoaded = true;
        setUtterancesTheme(document.documentElement.dataset.scheme)
    });

    window.addEventListener('onColorSchemeChange', (e) => {
        if (!utterancesLoaded) return;
        setUtterancesTheme(e.detail)
    })
</script> -->

<script>
    let beaudarLoaded = false;

    function setBeaudarTheme(theme) {
        let beaudar = document.querySelector('.beaudar iframe');
        if (beaudar) {
            beaudar.contentWindow.postMessage(
                {
                    type: 'set-theme',
                    theme: `github-${theme}`
                },
                'https://beaudar.lipk.org'
            );
        }
    }

    addEventListener('message', event => {
        if (event.origin !== 'https://beaudar.lipk.org') return;
        /// Called when Beaudar is ready
        beaudarLoaded = true;
        setBeaudarTheme(document.documentElement.dataset.scheme)
    });

    window.addEventListener('onColorSchemeChange', (e) => {
        if (!beaudarLoaded) return;
        setBeaudarTheme(e.detail)
    })
</script>